@font-face {
    font-family: 'anaktoriaregular';
    src: url('anaktoria-webfont.woff2') format('woff2'),
         url('anaktoria-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ul {
  list-style: none;
  margin: 10px
}

.navbar {
  background-color: #92cccc;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-collapse.show {
  display: block;
  background-color: #92cccc;
}

.navbar-brand {
  font-family: "anaktoriaregular";
  font-size: 40px;
}


.navbar-brand a{
  color: red;
}

.navbar-brand:hover a{
  color: black;
}

.dropdown-menu {
    position: absolute;
    visibility: hidden;
    margin-top: -1px;
    background-color: #deedec;
    border: none;
    width: auto;
    padding: 0px;
}

.dropdown:hover .dropdown-menu {
  visibility: visible;
  display: block;
}

.dropdown-item:hover {
  border-radius: 0.25rem;
  background-color: #F8F9FA !important;
}

.dropdown-item.active {
  border-radius: 0.25rem;
  background-color: #deedec !important;
}

.dropdown-item.active:hover {
  background-color: #F8F9FA !important;
}

.btn-search img {
  padding: 0px;
  width: 24px;
}

body {
  color: rgb(65, 75, 86);
  font-family: arial;
  margin: 0px;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 5em;
  text-emphasis: italic;
}

h2 {
  font-size: 2.5em;
}

img {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 130px;
}

p {
  width: 40%;
  margin: 10vh 10vw;
  font-size: 2em;
}

a {
  color: rgb(0,0,0);
}

div.contrast {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.mailinglist {
  background-color: #92cccc;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.mailinglist .input-group {
  width: 700px;
}

.allproductsbody {
  margin-left: 50vh 10vw;
  font-size: 2;
  width: 40%;

}
