body {
  color: rgb(65, 75, 86);
  font-family: arial;
  margin: 0px;
}

div {
  min-height: 10vh;
  min-width: 10vw;
}

ol#main {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size: 2em;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

ol#products {
  list-style: none;
  hide;
}


h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 5em;
  text-emphasis: italic;
}

h2 {
  font-size: 2.5em;
}

img {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 130px;
}

p {
  width: 40%;
  margin: 10vh 10vw;
  font-size: 2em;
}

a {
  color: rgb(0,0,0);
}

div.contrast {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul{
  list-style: none;
  display: flex;
}

li {
  margin: 0 20px
  transition: 0.6s ease;
}

li:hover {
  font-size: 1.2em;
  transition: 0.6s ease;
}
