@font-face {
    font-family: 'anaktoriaregular';
    src: url('anaktoria-webfont.woff2') format('woff2'),
         url('anaktoria-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ul {
  list-style: none;
  margin: 10px
}

.navbar {
  background-color: #92cccc;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-collapse.show {
  display: block;
  background-color: #92cccc;
}

.navbar-brand {
  font-family: "anaktoriaregular";
  font-size: 40px;
}


.navbar-brand a{
  color: red;
}

.navbar-brand:hover a{
  color: black;
}

.dropdown-menu {
    position: absolute;
    visibility: hidden;
    margin-top: -1px;
    background-color: #deedec;
    border: none;
    width: auto;
    padding: 0px;
}

.dropdown:hover .dropdown-menu {
  visibility: visible;
  display: block;
}

.dropdown-item:hover {
  border-radius: 0.25rem;
  background-color: #F8F9FA !important;
}

.dropdown-item.active {
  border-radius: 0.25rem;
  background-color: #deedec !important;
}

.dropdown-item.active:hover {
  background-color: #F8F9FA !important;
}

.btn-search img {
  padding: 0px;
  width: 24.2px;
}

body {
  color: rgb(65, 75, 86);
  font-family: arial;
  margin: 0px;
}

h1, h2, h3, .index {
  text-align: center;
}

img {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 130px;
}

p .index {
  width: 40%;
  margin: 10vh 10vw;
  font-size: 2em;
}

a {
  color: rgb(0,0,0);
}

div.contrast {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.mailinglist {
  background-color: #92cccc;
  display: flex;
  margin-top: auto;
  align-self: flex-end;
  justify-content: center;
  bottom: auto;
  position: absolute;
  bottom: 10px;
  width: 100%
}

div.mailinglist .input-group {
  width: 700px;
  padding-top: 20px;
  padding-bottom: 20px;

}



.allproductsbody {
  text-align: center;
  width: 90%
}

.scrolldown {
text-align: center;
  margin-left: 200vh 200vw;
  font-size: 2;
  width: 78%;
}

.about-link
background-attachment: fixed;

.tipsandtricksbody {
  text-align: center;
  text-decoration-color: red;
  font-size: 50;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;

}
.container-fluid {
  padding-top: 0;
  padding-bottom:0;
  margin-top: 0;
  margin-bottom: 0;
}

.pollutionfacts {
  text-align: center;
}

.problems {
  width: 90%;
  text-align: center;
}

.trickscolor {
  font-color: red;
}

.list {
  padding-bottom: 0;
  padding-top: 0;
}

.pictures {
  background: url(https://blog.carousell.com/wp-content/uploads/2017/03/emma-watson-green-carpet-sustainable-fashion-1.jpg) top right,
  url(https://blog.carousell.com/wp-content/uploads/2017/03/michelle-obama-green-carpet-sustainable-fashion-1.jpg) bottom left;
}

.icon {
  display: inline-block;
}

.about-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.aboutcard {
  padding: 100px;
}

.listoffacts {
position: absolute;
bottom:160px;
width: 100%;
}

.tipsandtricksbody {
position: absolute;
  bottom: 400px;
  width: 80%;
  text-align: center;
}
