@font-face {
    font-family: 'anaktoriaregular';
    src: url('anaktoria-webfont.woff2') format('woff2'),
         url('anaktoria-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* navbar */
.navbar {
  background-color: #92cccc;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-collapse.show {
  display: block;
  background-color: #92cccc;
}

.navbar-brand {
  font-family: "anaktoriaregular";
  font-size: 40px;
}

.dropdown-menu {
    position: absolute;
    visibility: hidden;
    margin-top: -1px;
    background-color: #deedec;
    border: none;
    width: auto;
    padding: 0px;
}

.dropdown:hover .dropdown-menu {
  visibility: visible;
  display: block;
}

.dropdown-item:hover {
  border-radius: 0.25rem;
  background-color: #F8F9FA !important;
}

.dropdown-item.active {
  border-radius: 0.25rem;
  background-color: #deedec !important;
}

.dropdown-item.active:hover {
  background-color: #F8F9FA !important;
}

.btn-search img {
  padding: 0px;
  width: 24.2px;
}

/* index content */
.index {
  margin: auto;
  text-align: center;
}

p.index {
  width: 40%;
  margin: 10vh 10vw;
  font-size: 2em;
}

div.contrast {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.mailinglist {
  background-color: #92cccc;
  display: flex;
  margin-top: auto;
  align-self: flex-end;
  justify-content: center;
  bottom: auto;
  position: absolute;
  bottom: 0px;
  width: 100%
}

div.mailinglist .input-group {
  width: 700px;
  padding-top: 20px;
  padding-bottom: 20px;

}

/* kitchen content */
.card-deck {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

/* bathroom content */
.bathroomcard {

}

/* allproducts content */
.allproductsbody {
  text-align: center;
  width: 90%
}

.scrolldown {
text-align: center;
  margin-left: 200vh 200vw;
  font-size: 2;
  width: 78%;
}

/* calculations content */
body{
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron{
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80%;
}

.title {
  font-family: "anaktoriaregular";
  font-size: 100px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}

.calc2 {
  width: auto;
  height: auto;
  padding-top: 4%;
  padding-bottom: 5%;
  padding-left: 16%;
  padding-right: 16%;
}

.calclist {
  padding-top: 10px;
  padding-bottom: 10px;
}

.calclink {
  color: rgb(65, 75, 86);
}

.calclink:hover {
  color: black;
}

.calculationsquestion {
  font-family: "anaktoriaregular";
  color: black;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.calculationsbody {
  text-align: left;
  font-size: 25px;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.example {
  font-family: "anaktoriaregular";
}

.container-fluid {
  padding-top: 0;
  padding-bottom:0;
  margin-top: 0;
  margin-bottom: 0;
}

.pollutionfacts {
  text-align: center;
}

.problems {
  width: 90%;
  text-align: center;
}

.trickscolor {
  font-color: red;
}

.list {
  padding-bottom: 0;
  padding-top: 0;
}

.listoffacts {
position: absolute;
bottom:160px;
width: 100%;
}

.tipsandtricksbody {
position: absolute;
  bottom: 400px;
  width: 80%;
  text-align: center;
}

/* greencarpet content */
.pictures {
  background: url(https://blog.carousell.com/wp-content/uploads/2017/03/emma-watson-green-carpet-sustainable-fashion-1.jpg) top right,
  url(https://blog.carousell.com/wp-content/uploads/2017/03/michelle-obama-green-carpet-sustainable-fashion-1.jpg) bottom left;
}

.imgbox {
  height: 100%;
}

.center-fit {
  background-size: cover
}

/* about content */
.aboutbody{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

img.rounded-circle {
  display: block;
  padding: 20px;
  margin: 0 auto;
  border-radius: 130px;
}

.name {
  font-family: "anaktoriaregular";
  font-size: 34px;
  display: flex;
  justify-content: center;
}

.card-text {
    margin: auto;
    width: 370px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.icons {
  display: flex;
  justify-content: center;
}

.icon img {
  padding: 0px;
  margin-right: 5px;
  margin-left: 5px;
  height: 50px;
  width: 50px;
}

.about-link {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

.about-link img {
  padding-top: 0px;
}

.aboutlink {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.abouttext {
  font-family: "anaktoriaregular";
  font-size: 20px;
  display: flex;
  justify-content: center;
}
